<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand font-Plus-normal font-bolder font-xxl" href="#">
      &#64;lph&#64;
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-lg-4">
          <a class="nav-link" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mb-3" id="home">&nbsp;</div>
<div class="mb-3">&nbsp;</div>
<div class="mb-3">&nbsp;</div>

<div class="container mt-3 mb-5 font_preah-normal">
  <div class="greating">
    <img
      src="https://storage.googleapis.com/ecommerce_docs_bucket/greating-removebg-preview.png"
    />
  </div>

  <div class="row align-items-center mb-5">
    <div class="col">
      <img
        src="https://storage.googleapis.com/ecommerce_docs_bucket/web-developer-woman-laptop.png"
        class="brg"
      />
    </div>
    <div class="col">
      <div class="font-m">A Web Developer</div>
      <div class="font-xxl mb-2">
        Turning code <br />into <span class="mgc">Magic</span>...
      </div>
      <div class="font-xs">Let's Build Something Amazing, Together.</div>
    </div>
  </div>
  <div>
    <div class="font-xxl">
      A Filipino Front-End Developer.<span class="blink">|</span>
    </div>
    <div class="font-l mb-5">Turning Your Digital Dreams into Reality.</div>
    <div class="font-l">
      As a dedicated learner, I'm always seeking to improve my skills and stay
      up-to-date with the latest web technologies. I enjoy the problem-solving
      aspect of web development and take pride in creating pixel-perfect
      designs.
    </div>
  </div>
</div>
<div class="mb-3" id="about">&nbsp;</div>
<div class="mb-3">&nbsp;</div>
<div class="mb-3">&nbsp;</div>
<div class="container">
  <div class="font_preah-normal font-xl mb-3">About Me</div>
  <div class="mt-2 ml-5 font_preah-normal font-s">
    <p>
      Greetings, my name is Alpha Joy, and I possess a passion for developing
      digital content for the web. My interest in web development originated
      when my sister imparted the fundamental knowledge of HTML and CSS to me.
      Since then, I have continually sought out opportunities to enhance my
      expertise in this field, exploring various facets of web development and
      even enrolling in the prestigious Zuitt Bootcamp.
    </p>
    <p>
      At present, my central objective is centered around constructing
      accessible and inclusive digital products and experiences for diverse
      clients, as a valued member of Upstatement.
    </p>
  </div>
</div>

<div class="mb-3" id="skills">&nbsp;</div>
<div class="mb-3">&nbsp;</div>
<div class="mb-3">&nbsp;</div>
<div class="container position-relative">
  <div class="font_preah-normal font-xl mb-3">Skills</div>
  <div class="font_preah-normal">
    <div class="p-2 font-l text-center mb-5">
      I am seeking to contribute to a <span>cross-functional</span> team that
      prioritizes improving user experiences through accessible and inclusive
      design, with a focus on creating meaningful, impactful solutions.
    </div>
    <div class="icon_skills font_preah-normal">
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/Rectangle%201.png"
          />
        </div>
        <div class="col">1 yr</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 35%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>

      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/Rectangle%202.png"
          />
        </div>
        <div class="col">Less than 2 yrs</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 55%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/Rectangle%204.png"
          />
        </div>
        <div class="col">Less than 2 yrs</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 55%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/Rectangle%206.png"
          />
        </div>
        <div class="col">More than 2 yrs</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 65%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/Rectangle%207.png"
          />
        </div>
        <div class="col">More than 2 yrs</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 65%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/angular_gradient.png"
          />
        </div>
        <div class="col">1.5 yr</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 65%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/html.png"
          />
        </div>
        <div class="col">1 yr</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 65%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img
            src="https://storage.googleapis.com/ecommerce_docs_bucket/photoshop.png"
          />
        </div>
        <div class="col">Less than 1 yr</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="mb-5">&nbsp;</div>
      <div class="mb-3 row">
        <div class="col">
          <img src="https://sass-lang.com/assets/img/logos/logo.svg" />
        </div>
        <div class="col">1.5 yr</div>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bg"
          role="progressbar"
          style="width: 60%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>

  <div class="mb-5" id="projects">&nbsp;</div>
  <div class="mb-3">&nbsp;</div>
  <div class="font_preah-normal font-xl mb-3">Projects and Work experience</div>
  <div class="mb-5">&nbsp;</div>
  <div class="row mt-2">
    <div class="col-lg-6 mb-5">
      <div class="card card_background-gradient">
        <img
          class="card-img-top"
          src="https://storage.googleapis.com/ecommerce_docs_bucket/ecommerce.JPG"
          alt="Card image cap"
        />
        <div class="card-body font_preah-normal font-c-w">
          <h5 class="card-title font-bolder">eCommerce Web App</h5>
          <p class="card-text">
            This is an eCommerce platform built with React.js for the frontend
            and a custom REST API for the backend. Bootstrap is used for a
            responsive and clean design.
          </p>
          <a
            href="https://capstone-3-cuaresma-qkes.vercel.app/"
            target="_blank"
            class="btn"
            style="background-color: #3b1c32; color: #fff"
            >Click to visit</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <div class="card card_background-gradient">
        <img
          class="card-img-top"
          src="https://storage.googleapis.com/ecommerce_docs_bucket/my-web.JPG"
          alt="Card image cap"
        />
        <div class="card-body font_preah-normal font-c-w">
          <h5 class="card-title font-bolder">Single page Website about me</h5>
          <p class="card-text">
            This single-page website is a personal project that highlights my
            journey in learning web development. It showcases my experience with
            raw HTML, CSS, and a bit of JavaScript.
          </p>
          <a
            href="https://hey-alfa.github.io/cuaresma-capstone-1/index.html"
            target="_blank"
            class="btn"
            style="background-color: #3b1c32; color: #fff"
            >Click to visit</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <div class="card card_background-gradient">
        <img
          class="card-img-top"
          src="https://storage.googleapis.com/ecommerce_docs_bucket/eCarga.JPG"
          alt="Card image cap"
        />
        <div class="card-body font_preah-normal font-c-w">
          <h5 class="card-title font-bolder">Mobile Developer</h5>
          <p class="card-text">
            I initially worked with Ionic and Angular integrated with Apache
            Cordova for building hybrid mobile applications. As the project
            evolved, I migrated to Capacitor, improving performance and
            enhancing the native capabilities of the app.
          </p>
          <a
            href="https://www.linkedin.com/in/alpha-joy-cuaresma-65981a171/"
            target="_blank"
            class="btn"
            style="background-color: #3b1c32; color: #fff"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5" id="contact">&nbsp;</div>
<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div class="container">
  <div class="font_preah-normal font-xl mb-3">Contact</div>
  <div class="mb-5">&nbsp;</div>

  <div class="font_preah-normal font-s mb-3">
    I'm currently looking to join a cross-functional team that values improving
    people's <br />
    lives through accessible design. or have a project in mind? Let's connect.
  </div>
  <div class="mb-5">&nbsp;</div>
  <div class="font_preah-normal font-s mb-3">
    <a href="mailto:alphajoycuaresma71@gmail.com">Send me an email</a>
  </div>
  <div class="mb-5">&nbsp;</div>
  <div class="icon-contact d-flex justify-content-start">
    <div>
      <a href="mailto:alphajoycuaresma71@gmail.com">
        <img
          src="https://storage.googleapis.com/ecommerce_docs_bucket/Vector%20(1).png"
        />
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/hey_alfa/" target="_blank">
        <img
          src="https://storage.googleapis.com/ecommerce_docs_bucket/Vector.png"
        />
      </a>
    </div>
    <div>
      <a
        href="https://www.linkedin.com/in/alpha-joy-cuaresma-65981a171/"
        target="_blank"
      >
        <img
          src="https://storage.googleapis.com/ecommerce_docs_bucket/Linkedin.png"
        />
      </a>
    </div>
    <div>
      <a href="https://github.com/Hey-Alfa" target="_blank">
        <img
          src="https://storage.googleapis.com/ecommerce_docs_bucket/Git.png"
        />
      </a>
    </div>
  </div>
  <div class="mb-5">&nbsp;</div>
</div>
